<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="#">
    <img src="/src/assets/#" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Git Search
  </a>
</nav>


  <div class="container">
    <h1>Welcome to Gitsearch</h1>
    <div>
      <button class="profile"><a routerLink='/profile' routerLinkActive='active'>search by username</a></button>
    </div>
    <div>
      <button class="repo"><a routerLink='/repo' routerLinkActive='active'>search a repository</a></button>
    </div>
    </div>
  